.form {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.place {
    display: flex;
    justify-content: center;
}

.input {
    width: 400px;
    height: 50px;
    font-size: large;
    border: none;
    /* border-bottom: 3px solid black;*/
    border-left: 3px solid black;
    border-right: 3px solid black;
    text-align: center;
    background-color: #FAF7F6;
}

.input:focus {
    outline: none;
}

/* Button */

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#buttons input {
    width: 156px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

#buttons input:hover {
    background-color: black;
    color: white;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

.button {
    width: 150px;
    height: 50px;
    color: black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: large;
    text-decoration: none;
    font-family: 'Goldman';
}

.button:hover {
    background-color: black;
    color: white;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

.error-div {
    display: flex;
    align-items: center;
    background-color: #EF7878;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px silver;
}

.error-div li {
    font-family: "Segoe UI";
    color: white;
}

.success_div {
    background-color: green;
}