/* CARD */
#card {
    display: flex;
    justify-content: center;
}

.card-connect {
    border: solid 5px black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    text-align: center;
    padding: 30px;
}

.connect {
    font-family: 'Goldman';
    color: black;
}

.form_logIn {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* INPUT */

.input-connect {
    width: 300px;
    height: 50px;
    font-size: large;
    border: none;
    border-bottom: 3px solid black;
    text-align: center;
    background-color: white;
}

#input-connect {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input-connect:focus {
    outline: none;
}

/* BOUTONS */

#buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button.button {
    text-align: center;
}

.button {
    width: 150px;
    height: 50px;
    color: black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    font-size: large;
    text-decoration: none;
    font-family: 'Goldman';
    text-align: center;
}

.button:hover {
    background-color: black;
    color: white;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

button a {
    color: black;
    text-decoration: none;
}

.button:hover a {
    color: white;
}

.button a:active {
    text-decoration: none;
}

/* signIn */
.form_signIn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_signIn .form {
    display: flex;
    flex-direction: column;
    justify-content: space;
}

.place {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.input {
    width: 400px;
    height: 50px;
    font-size: large;
    border: none;
    /* border-bottom: 3px solid black;*/
    border-left: 3px solid black;
    border-right: 3px solid black;
    text-align: center;
    background-color: #FAF7F6;
}

.input:focus {
    outline: none;
}

#button_form {
    width: 400px;
    display: flex;
    justify-content: space-around;
}


/* TEXT HOMEPAGE */

.text_homePage {
    font-family: 'Goldman';
    color: black;
    font-size: 30px;
    text-align: center;
}