/**, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

/*-------------------------------------------------------------*/

/* CSS POUR LE HEADER */
.header_nav {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header_nav ul {
    list-style: none;
    height: 100%;
}

.header_nav a {
    text-decoration: none;
    outline: none;
}

.header_nav h1 {
    color: white;
}

.menu-links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.link {
    width: 20%;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.link:hover {
    background-color: white;
    color: black;
    border-left: 7px solid red;
    border-right: 7px solid red;
    border-bottom: 7px solid white;
    border-top: 7px solid white;
}

li {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-shopping-cart {
    color: white;
    align-items: center;
}

.fa-shopping-cart {
    color: white;
}

@media only screen and (max-width: 960px) {
    #menu-links li {
        width: 100%;
    }
    #profil-links {
        margin: 0;
    }
}

/*-------------------------------------------------------------*/

/* CSS POUR LES INFOS USER */
.table_user {
    width: 100%;
    font-size: larger
}

.table_user td {
    height: 50px;
    width: 20%;
    border: 3px solid black;
    text-align: center;
    font-size: larger;
}

.table_user td input {
    width: 98%;
    height: 98%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: large;
    font: bold;
    pointer-events:none;
}

.table_user td button{
    width: 98%;
    height: 98%;
    border: none;
    background-color: transparent;
}

thead th {
    height: 50px;
    background-color: black;
    color: white;
}

#user_body {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.div_user {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button_user {
    font-size: large;
    cursor: pointer;
    height: 50px;
    width: 200px;
    color: black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    text-decoration: none;
    font-family: 'Goldman';
    text-align: center;
    background-color: whitesmoke;
}

.button_user:hover {
    background-color: black;
    color: white;
    border-left: 3px solid red;
    border-right: 3px solid red;
}


/*-------------------------------------------------------------*/

/* CSS POUR LES INFOS ADMIN */

.admin_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin_body h2 {
    font-size: 35px;
    border-bottom: 3px solid black;
}

.button_admin {
    font-size: x-large;
    cursor: pointer;
    height: 100px;
    width: 400px;
    color: black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    text-decoration: none;
    font-family: 'Goldman';
    text-align: center;
    background-color: whitesmoke;
}

.button_admin:hover {
    background-color: black;
    color: white;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

.button_logout {
    margin-top: 50px;
}


/*-------------------------------------------------------------*/


/* CSS POUR LA PAGE DE CONNEXION */
/* CARD */
#card {
    display: flex;
    justify-content: center;
}

.card-connect {
    border: solid 5px black;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    text-align: center;
    padding: 30px;
}

.connect {
    font-family: 'Goldman';
    color: black;
}

.form_logIn {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* INPUT */

.input-connect {
    width: 300px;
    height: 50px;
    font-size: large;
    border: none;
    border-bottom: 3px solid black;
    text-align: center;
    background-color: white;
}

#input-connect {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input-connect:focus {
    outline: none;
}

/* BOUTONS */

#buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button.button {
    text-align: center;
}

.button {
    width: 150px;
    height: 50px;
    color: black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    font-size: large;
    text-decoration: none;
    font-family: 'Goldman';
    text-align: center;
}

.button:hover {
    background-color: black;
    color: white;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

button {
    color: black;
    text-decoration: none;
}

.button:hover {
    color: white;
}

.button a:active {
    text-decoration: none;
}

/* signIn */
.form_signIn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_signIn .form {
    display: flex;
    flex-direction: column;
    justify-content: space;
}

.place {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.input {
    width: 400px;
    height: 50px;
    font-size: large;
    border: none;
    /* border-bottom: 3px solid black;*/
    border-left: 3px solid black;
    border-right: 3px solid black;
    text-align: center;
    background-color: #FAF7F6;
}

.input:focus {
    outline: none;
}

#button_form {
    width: 400px;
    display: flex;
    justify-content: space-around;
}


/* TEXT HOMEPAGE */

.text_homePage {
    font-family: 'Goldman';
    color: black;
    font-size: 30px;
    text-align: center;
}


/* CSS CATEGORIES */

.button_categorie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15%;
}

.button_categorie .categorie {
    margin-bottom: 50px;
}

/* CSS CATEGORIE PRODUCT FIND */

.product_find {
    height: 100%;
    margin-top: 30px;
    display: grid;
    grid-gap: 25px;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* CSS BUTTON DELETE */

.delete:hover, .update:hover {
    cursor: pointer;
}


/* ADMIN DELETE */
.admin_delete td {
    min-width: 10%;
}

.admin_delete td button{
    width: 98%;
    height: 98%;
    border: none;
    background-color: transparent;
}

/* PRODUCT DELETE */
.product_delete td {
    min-width: 10%;
}

.product_delete td button{
    width: 98%;
    height: 98%;
    border: none;
    background-color: transparent;
}

/* PRODUCT UPDATE */
.product_update td input {
    border: none;
    width: 98%;
    height: 98%;
    font-size: large;
    pointer-events: all;
}

.product_update td .prix {
    text-align: center;
}

.product_update td .id_block {
    pointer-events: none;
}
